<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cheerleading</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="/assets/cheerleading_schweich.jpg">
  </figure>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Die Abteilung Cheerleading</h2>
            <p>Bei dem Begriff Cheerleading, denken die meisten Menschen zunächst an die hübsche, schlanke Amerikanerin
              mit Minirock und Pompoms, die ihre Footballmannschaft anfeuert. Diese Vorstellung hat leider meist nur
              etwas mit Klischee und nicht viel mit der tatsächlichen Sportart zu tun. Denn Cheerleading ist ein
              Teamleistungssport, der viele unterschiedliche anspruchsvolle Elemente vereint:</p>
            <ul>
              <li>Akrobatik</li>
              <li>Bodenturnen</li>
              <li>Jumps (Sprünge)</li>
              <li>Tanz</li>
              <li>Cheers (Bewegungsabfolgen zu Sprechgesang)</li>
            </ul>
            <p>Die akrobatischen Elemente finden sich im Bereich der Stunts (Hebefiguren), Baskets (Cheerleader wird in
              die Luft geworfen und führt eine Figur aus) und Pyramiden wieder. Neben motorischen Fähigkeiten werden
              durch das Training Selbstbewusstsein, Selbstvertrauen und folgend auch Mut der Einzelnen gefördert, sowie
              auch die individuelle Förderung und Schulung des Verantwortungsgefühls innerhalb einer Gruppe. Aber
              natürlich darf der Spaß im Training nicht fehlen!</p>
            <p>Wenn auch Du Interesse hast und diesen faszinierenden Sport zu erlernen und Mitglied in einem tollen Team
              werden willst, dann melde Dich bei uns. Nutze die Chance für ein unverbindliches Probetraining.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Kontakt</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Trainerteam Cheerleading</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="person"></ion-icon>
          </ion-col>
          <ion-col>Maren Böntgen</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="person"></ion-icon>
          </ion-col>
          <ion-col>Sabrina Erz</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="mail"></ion-icon>
          </ion-col>
          <ion-col> <a href="mailto:cheerleading@mosella-schweich.de">cheerleading@mosella-schweich.de</a>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Trainingszeiten</h2>
          </ion-col>
        </ion-row>
        <ion-row class="training">
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>ab 12 Jahren</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Dienstag, 17.00 bis 19.00 Uhr<br>
                  Halle am Sportplatz am Winzerkeller</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
              <ion-list>
                <ion-list-header>
                  <ion-label>Minis bis 12 Jahren</ion-label>
                </ion-list-header>
                <ion-item>
                  <ion-label>Samstag, 10.00 bis 11.30 Uhr<br>
                    Bodenländchen-Halle</ion-label>
                </ion-item>
              </ion-list>
            </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>