<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Soziale Medien</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      <ion-label>Der TuS Mosella Schweich e.V. in den Sozialen Netzwerken</ion-label>
    </ion-list-header>
    <ion-item href="https://www.facebook.com/tusmosellaschweich">
      <ion-icon name="logo-facebook" slot="start"></ion-icon>
      <ion-label>facebook</ion-label>
    </ion-item>
    <ion-item href="https://www.instagram.com/mosella_schweich/">
      <ion-icon name="logo-instagram" slot="start"></ion-icon>
      <ion-label>instagram</ion-label>
    </ion-item>
    <ion-item href="https://www.youtube.com/channel/UCMO4vR6RzsFRN_oyjcYCQtQ">
      <ion-icon name="logo-youtube" slot="start"></ion-icon>
      <ion-label>youtube</ion-label>
    </ion-item>
    <ion-item href="https://twitter.com/mosellaschweich">
      <ion-icon name="logo-twitter" slot="start"></ion-icon>
      <ion-label>twitter</ion-label>
    </ion-item>
    <ion-item href="https://www.linkedin.com/company/tus-mosella-schweich-e.v./">
      <ion-icon name="logo-linkedin" slot="start"></ion-icon>
      <ion-label>linkedin</ion-label>
    </ion-item>
    <ion-item href="https://www.xing.com/companies/tusmosellaschweiche.v.">
      <ion-icon name="logo-xing" slot="start"></ion-icon>
      <ion-label>xing</ion-label>
    </ion-item>
  </ion-list>

</ion-content>