<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kontakt</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-content>
            <address>
                TuS Mosella Schweich e.V.<br>
                Mathenstraße 39<br>
                54338 Schweich<br>
                <a href="tel:+496502-5130">+49 (0)6502-5130</a><br>
                <a href="mailto:tus@mosella-schweich.de">tus@mosella-schweich.de</a>
              </address>
        </ion-card-content>
      </ion-card>
</ion-content>