<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Basketball</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <figure>
    <img src="/assets/Basketball_Schweich.jpg">
  </figure>
  <ion-slides pager="true">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Die Abteilung Basketball</h2>
            <p>Vor allem im Jugendbasketball ist unser Abteilung Basketball tätig und bietet Jugendlichen nicht nur
              sportliche Aktivität, sondern auch einen Freizeit-BasketballTreffpunkt.</p>
            <p>Gemeinsam mit Abteilungsleiter Felix Warmuth und seinem Trainerteam werden hier in lockerer Runde die
              richtige Schrittabfolge und der perfekte Dreier trainiert. Die Abteilung bietet vor allem Breitensport in
              allen Altersklassen sowohl im weiblichen als auch im männlichen Bereich an.</p>
            <p>Die Mannschaften trainieren in der Regel 2x in der Woche unter Anleitung von hierzu ausgebildeten und
              lizensierten Trainer/innen und nehmen am Spielbetrieb des Basketballverbands BVRP - Basketballverband
              Rheinland-Pfalz e.V. teil.
              Die Trainingsinhalte orientieren sich dabei an der jeweiligen Altersklasse und dem jeweiligen
              Leistungsstand. Basketball als Freizeitsport für Jugendliche hat einiges zu bieten. Nicht nur die
              unglaubliche Dynamik, sondern vor allem das Spielen im Team zeichnen diese Sportart aus. Nur wahre
              Teamplayer können Ihre Mannschaft zum Erfolg führen.</p>
            <p>Die Abteilung Basketball freut sich auf reges Interesse und Zuwachs im Team und nimmt gerne in den
              Spielgruppen alle Interessierten mit ihren unterschiedlichen Talent auf.</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Kontakt</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>Abteilungsleiter der Abteilung Basketball</h3>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="person"></ion-icon>
          </ion-col>
          <ion-col col-8>Felix Warmuth</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>
          <ion-col col-8><a href="https://www.facebook.com/TuSMosellaBasketball/">TuSMosellaBasketball</a></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="2">
            <ion-icon name="mail"></ion-icon>
          </ion-col>
          <ion-col col-8> <a href="mailto:basketball@mosella-schweich.de">basketball@mosella-schweich.de</a></ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col>
            <h2>Unsere Basketball-Mannschaften</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3>mit Trainingszeiten</h3>
          </ion-col>
        </ion-row>
        <ion-row class="training">
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>U12-Junioren</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Montag, 17:45 - 19:00 Uhr<br>
                  Kleine Stefan-Andres-Halle</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Donnerstag, 17:30 - 19:00 Uhr<br>
                  Bodenländchen-Halle</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>U14-Junioren</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Dienstag, 16.00 - 17.30 Uhr<br>
                  Stefan-Andres-Halle</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Donnerstag, 16:45 - 18:00 Uhr<br>
                  DBG-Halle</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>U18-Junioren</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Dienstag, 17:30 - 19:00 Uhr<br>
                  Stefan-Andres-Halle</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Donnerstag, 19:00 -20:30 Uhr<br>
                  Bodenländchen-Halle</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>Seniorinnen</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Montag, 19:00 - 20:30 Uhr<br>
                  Stefan-Andres-Halle</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Freitag, 19:00 - 21:00 Uhr<br>
                  Bodenländchen-Halle</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>Senioren</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Montag, 20:30 - 22:00 Uhr<br>
                  Stefan-Andres-Halle</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Donnerstag, 19:00 - 20:30 Uhr<br>
                  Bodenländchen-Halle</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
          <ion-col>
            <ion-list>
              <ion-list-header>
                <ion-label>Alt-Senioren</ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>Dienstag, 20.15 - 22.00 Uhr<br>
                  Stefan-Andres-Halle</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>