<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>News</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card class="news-card" *ngFor="let item of items; trackBy trackById">
    <ion-img *ngIf="item.featured_media_source_url$ | async as featured_media_source_url" [src]="featured_media_source_url"></ion-img>
    <ion-card-header>
      <ion-card-title>
        <span *ngIf="item.title && item.title.rendered" [innerHTML]="item.title.rendered"></span>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="item.excerpt && item.excerpt.rendered" [innerHTML]="item.excerpt.rendered"></p>
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>