<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Impressum
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <p><b>Herausgeber:</b></p>
  <p>
    TuS Mosella Schweich e.V.<br />
    Mathenstraße 39<br />
    54338 Schweich<br />
    Deutschland
  </p>
  <p>
    Tel.: 06502-5130<br />
    E-Mail: tus@mosella-schweich.de
  </p>
  <p>
    Registergericht: Amtsgericht Wittlich<br />
    Registernummer: UR 1114
  </p>
  <p>
    <b>Vertretungsberechtigter Vorstand:</b><br />
    Bernd Münchgesang (1. Vorsitzender)<br />
    Harald Emmrich (2. Vorsitzender)
  </p>

  <p>
    Umsatzsteuer-Identifikationsnummer gemäß § 27 a Umsatzsteuergesetz: 42/658/1005/0
  </p>
  <p>
    Plattform der EU-Kommission zur Online-Streitbeilegung: https://ec.europa.eu/consumers/odr
  </p>
  <p>
    Wir sind zur Teilnahme an einem Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle weder verpflichtet
    noch bereit.
  </p>

  <p>
    Generiert durch: <a
      href="https://www.it-recht-kanzlei.de/handlungsanleitung-link-os-plattform.html">https://www.it-recht-kanzlei.de/handlungsanleitung-link-os-plattform.html</a>
  </p>
</ion-content>