<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Veranstaltungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card class="news-card" *ngFor="let event of events">
      <ion-card-header>
        <ion-card-title>
          <span *ngIf="event.SUMMARY" [innerHTML]="event.SUMMARY"></span>
        </ion-card-title>
        <ion-card-subtitle>
          <span *ngIf="event.DTSTART" [innerHTML]="event.DTSTART|date:'dd. MMMM yyyy HH:mm'"></span> - <span *ngIf="event.DTEND" [innerHTML]="event.DTEND|date:'HH:mm'"></span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="event.LOCATION" [innerHTML]="event.LOCATION"></p>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>