<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Veranstaltungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-card class="news-card" *ngFor="let event of events; trackBy trackById">
      <ion-card-header>
        <ion-card-title>
          <span *ngIf="event.summary" [innerHTML]="event.summary"></span>
        </ion-card-title>
        <ion-card-subtitle>
          <span *ngIf="event.start" [innerHTML]="event.start.dateTime|date:'dd. MMMM yyyy HH:mm'"></span> - 
          <span *ngIf="event.end" [innerHTML]="event.end.dateTime|date:'HH:mm'"></span>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p *ngIf="event.location" [innerHTML]="event.location"></p>
      </ion-card-content>
    </ion-card>
    <ion-infinite-scroll (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>