<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Die Mosella</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <figure>
    <img src="/assets/IMG_1783.jpg">
  </figure>
  <ion-list>
    <ion-item>
      <ion-label routerLink="vereinsportrait">
        Vereinsportrait
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="vorstand">
        Vorstand
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="satzung">
        Satzung
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>