<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sportangebote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="getCols() <= 1">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let slide of slides">
        <ion-card class="slide-card" [routerLink]="[slide.path]">
          <ion-card-header>
            <ion-card-title>{{slide.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="slide.imgSrc"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ng-container>
  <ng-container *ngIf="getCols() > 1">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let slide of slides">
          <ion-card class="slide-card" [routerLink]="[slide.path]">
            <ion-card-header>
              <ion-card-title>{{slide.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img [src]="slide.imgSrc"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>