<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sportangebote</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let department of departments$ | async" align-self-center>
        <ion-card class="department-card" [routerLink]="[department.path]">
          <ion-img [src]="department.imgSrc"></ion-img>
          <ion-card-header>
            <ion-card-title>{{department.title}}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>