<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item>
      <ion-label routerLink="/verein/vereinsportrait">
        Die Mosella
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/verein/vorstand">
        Vorstand
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label routerLink="/verein/satzung">
        Satzung
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-container *ngIf="getCols() <= 1">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let slide of slides">
        <ion-card class="slide-card" [routerLink]="[slide.path]">
          <ion-card-header>
            <ion-card-title>{{slide.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="slide.imgSrc"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ng-container>
  <ng-container *ngIf="getCols() > 1">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let slide of slides">
          <ion-card class="slide-card" [routerLink]="[slide.path]">
            <ion-card-header>
              <ion-card-title>{{slide.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img [src]="slide.imgSrc"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
</ion-content>