<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/IMG_1783.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>TuS Mosell Schweich e.V.</ion-card-subtitle>
      <ion-card-title>Spiel, Sport und Spaß für Jung und Alt!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            Der TuS Mosella Schweich e.V. ist mit ca. 1.650 Mitgliedern der größte Verein in der Verbandsgemeinde
            Schweich und einer der größten des Kreisgebietes Trier-Saarburg. Besonders hervorzuheben ist dabei der hohe
            Anteil von Jugendlichen, der etwa 70 % beträgt. Obwohl die älteste Abteilung des Traditionsvereins, die
            Turnabteilung, 2019 bereits 118 Jahre (Gründung am 6.10.1901) und die Fußballabteilung (Gründung 1919) auch
            schon 100 Jahre alt ist, ist der Verein stets jung geblieben und hat sich im Laufe der Jahre zum modernen
            Freizeit- und Breitensportverein mit derzeit elf Abteilungen (Badminton, Basketball, Fußball,
            Gesundheitssport, Herzsport-/Coronargruppe, Karate, Leichtathletik, Tennis, Tischtennis, Turnen und
            Volleyball) weiterentwickelt.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Der gesellschaftliche Wandel – gekennzeichnet durch eine größere Mobilität, ein neues
            Gesundheitsbewusstsein, eine höhere Lebenserwartung und erheblich mehr Freizeit – stellt auch an die Mosella
            sehr große Ansprüche. Deshalb will sie ein Treff sein für alle, die sinnvoll ihre Freizeit gestalten wollen
            und Kindern, Jugendlichen und Erwachsenen gleichermaßen ein attraktives, breit gefächertes Sportangebot
            unterbreiten.
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <b>Der TuS Mosella Schweich e.V. - mehr als nur ein Sportanbieter!</b>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            Unser TuS Mosella Schweich e.V. ist deshalb mehr als nur ein Sportanbieter. Sie erfüllt auch eine soziale
            Aufgabe, die letztendlich auch der Grundstein zum langjährigen Bestehen des Vereins ist und war; denn nur
            wenn sportliches Angebot und Umfeld stimmen, fühlen sich die Mitglieder wohl. Leistungswillen, Engagement
            und Idealismus der Sportler, Übungsleiter und Betreuer sind dabei gefragt – und hier ziehen alle Abteilungen
            an einem Strang. Seit 1996 bietet der TuS Mosella Schweich e.V. mit großem Erfolg eine Herzsportgruppe für
            Frauen und Männer an, die aufgrund einer Herz-Kreislauferkrankung nicht an den üblichen Sportangeboten
            teilnehmen sollen. Ziel ist es, wieder belastbar, leistungsfähig und beweglich zu werden und dabei viel Spaß
            in einer Gruppe mit netten Menschen zu haben. Der Verein erhielt 2002 die Sportplakette des
            Bundespräsidenten nicht nur wegen seiner sportlichen Erfolge im Laufe seiner Geschichte, sondern auch für
            seine hervorragende Jugendarbeit und seine Verdienste im Bereich des Freizeit-, Breiten- und
            Gesundheitssports. Im Jahr 2017 wurde der TuS Mosella in der Kategorie "Fußball digital" für seinen
            digitalen Auftritt mit einer Sepp-Herberger-Urkunde ausgezeichnet.
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ng-container *ngIf="getCols() <= 1">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let slide of slides">
        <ion-card class="slide-card" [routerDirection]="'root'" [routerLink]="[slide.path]">
          <ion-card-header>
            <ion-card-title>{{slide.title}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-img [src]="slide.imgSrc"></ion-img>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </ng-container>
  <ng-container *ngIf="getCols() > 1">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let slide of slides">
          <ion-card class="slide-card" [routerDirection]="'root'" [routerLink]="[slide.path]">
            <ion-card-header>
              <ion-card-title>{{slide.title}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-img [src]="slide.imgSrc"></ion-img>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-container>
  <!--
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>
  -->
</ion-content>