<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Satzung</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h2>Unsere Satzung</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>Vereinssatzung des TuS Mosella Schweich e.V.</h3>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 1 Name, Sitz und Zweck</h3>
        <p>
          Der am 06.10.1901 in Schweich gegründete Verein führt den Namen „Turn- und Sportverein Mosella Schweich e.V.“ Er ist Mitglied des
          Sportbundes Rheinland im Landessportbund Rheinland-Pfalz und der zuständigen Fachverbände. Der Verein hat seinen Sitz in Schweich.
          Er ist in das Vereinsregister beim Amtsgericht Trier unter Nr. 1114 eingetragen.
          Die Vereinsfarben sind blau-schwarz.
        </p>
        <p>
          Der Verein verfolgt ausschließlich und unmittelbar gemeinnützige Zwecke im Sinne des Abschnitts "Steuerbegünstigte Zwecke" der
          Abgabenordnung. Zweck des Vereins ist die Förderung des Sports und der sportlichen Jugendarbeit.
          Der Satzungszweck wird insbesondere durch das Anbieten sportlicher Übungen und die Förderung sportlicher Leistungen, die Veranstaltung von
          Wettkämpfen und durch die Teilnahme an Sportveranstaltungen verwirklicht. Der Verein ist selbstlos tätig; er verfolgt nicht in erster Linie
          eigenwirtschaftliche Zwecke.
        </p>
        <p>
          Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke verwendet werden.
          Es darf keine Person durch Ausgaben, die den Zwecken des Vereins fremd sind oder durch unverhältnismäßig hohe Vergütungen begünstigt werden.
          Mitglieder erhalten keine Zuwendungen aus Mitteln des Vereins.
        </p>
        <p>
          Bei Bedarf können Vereinsämter im Rahmen der haushaltsrechtlichen Möglichkeiten entgeltlich auf der Grundlage eines Dienstvertrages oder
          gegen Zahlung einer Aufwandsentschädigung nach § 3 Nr. 26a EStG ausgeübt werden.
        </p>
        <p>
          Die Entscheidung über eine entgeltliche Vereinstätigkeit trifft der geschäftsführende Vorstand. Gleiches gilt für die Vertragsinhalte und
          die Vertragsbedingungen.
        </p>
        <p>
          Der Verein ist politisch und konfessionell neutral.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 2 Erwerb der Mitgliedschaft</h3>
        <p>Mitglied des Vereins kann jede natürliche Person werden.
          Wer die Mitgliedschaft erwerben will, hat an den geschäftsführenden Vorstand einen schriftlichen Aufnahmeantrag zu richten. Bei
          Minderjährigen ist die Zustimmung der gesetzlichen Vertreter erforderlich. Der Vorstand teilt seine Entscheidung dem Antragsteller mit.
          Die Mitglieder erkennen verbindlich die Satzungen, Ordnungen und Wettkampfbestimmungen der Verbände an, denen der Verein angehört.
          Die Ehrenmitgliedschaft kann an Personen, die sich um den Verein oder seine Ziele besonders verdient gemacht haben, verliehen werden.
          Scheidet der 1. Vorsitzende aus, kann er bei besonderen Verdiensten zum Ehrenvorsitzenden werden.
          Über die Verleihung der Ehrenmitgliedschaft/ des Ehrenvorsitzenden entscheidet der geschäftsführende Vorstand mit Abstimmung des
          Ältestenrats.
          Ehrenmitglieder/Ehrenvorsitzende besitzen alle Mitgliederrechte. Sie haben zu den Veranstaltungen des Vereins und seiner Abteilungen freien
          Eintritt und sind von der Beitragspflicht befreit.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 3 Beendigung der Mitgliedschaft</h3>
        <p>
          Die Mitgliedschaft erlischt durch Austritt, Tod, Ausschluss oder durch Auflösung des Vereins. Die Austrittserklärung muss schriftlich an den
          geschäftsführenden Vorstand gerichtet werden.
          Der Austritt ist nur zum Ende eines Kalenderhalbjahres unter Einhaltung einer Frist von 6 Wochen zulässig.
          In der Abteilung Tennis ist der Austritt nur zum Ende eines Kalenderjahres unter Einhaltung einer Frist von 6 Wochen möglich. Mit der
          Beendigung der Mitgliedschaft erlöschen alle Rechte und Ansprüche gegenüber dem Verein.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 4 Beiträge</h3>
        <p>
          Der Mitgliedsbeitrag wird von der Mitgliederversammlung festgelegt. Die dem Verein angehörenden Abteilungen können eigenverantwortlich
          Abteilungsbeiträge, Abteilungssonderbeiträge bestimmen. Diese Beiträge bedürfen der Zustimmung des geschäftsführenden Vorstandes. Der
          geschäftsführende Vorstand kann in begründeten Fällen Beiträge/Sonderbeiträge und Umlagen ganz oder teilweise erlassen oder stunden, sowie
          Sonderbeiträge und Umlagen.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 5 Straf- und Ordnungsmaßnahmen</h3>
        <p>
          Ein Mitglied kann, nachdem ihm Gelegenheit zur Äußerung gegeben worden ist, aus wichtigem Grund vom geschäftsführenden Vorstand aus dem
          Verein ausgeschlossen werden, insbesondere wegen vereinsschädigenden Verhaltens, grober oder wirtschaftlicher Verstöße gegen die Satzung,
          Nichtzahlung von Beiträgen trotz zweimaliger Mahnung.
          Wenn ein Mitglied schuldhaft gegen die Satzung oder Anordnung der Vereinsorgane verstößt, können nach vorheriger Anhörung vom
          geschäftsführenden Vorstand folgende Maßnahmen verhängt werden: ein Verweis, ein zeitlich begrenztes Verbot der Teilnahme am Sportbetrieb
          und an den Veranstaltungen des Vereins.
          Die Straf- und Ordnungsmaßnahmen sind schriftlich zu begründen und mit der Angabe der Rechtsmittel zu versehen.
          Der Beschluss über den Ausschluss ist als Einschreiben mitzuteilen.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 6 Rechtsmittel</h3>
        <p>
          Gegen die Ablehnung der Aufnahme (§ 2) und gegen alle Straf- und Ordnungsmaßnahmen (§ 5) ist Einspruch möglich. Dieser ist innerhalb von
          einem Monat nach Zugang der Entscheidung beim geschäftsführenden Vorstand einzulegen. Über den Einspruch entscheidet der geschäftsführende
          Vorstand. Bis zur endgültigen Entscheidung des geschäftsführenden Vorstand ruhen Mitgliedsrechte und –pflichten des betroffenen Mitglieds,
          soweit sie von der Entscheidung des Vorstands berührt sind.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 7 Vereinsorgane</h3>
        <p>
          Organe des Vereins sind:
        </p>
        <ul>
          <li>die Mitgliederversammlung</li>
          <li>der geschäftsführende Vorstand</li>
          <li>der Gesamtvorstand</li>
          <li>der Ältestenrat</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 8 Mitgliederversammlung</h3>
        <p>
          Oberstes Organ des Vereins ist die Mitgliederversammlung.
          Eine ordentliche Mitgliederversammlung findet alle 2 Jahre statt.
        </p>
        <p>
          Die Einberufung einer ordentlichen Mitgliederversammlung erfolgt durch den geschäftsführenden Vorstand. Sie geschieht in Form einer
          Veröffentlichung im Amtsblatt der Verbandsgemeinde Schweich. Mitglieder, die nicht im Einzugsbereich der VGV Schweich leben, werden
          schriftlich eingeladen. Bei Vorlage einer E-Mailadresse erfolgt für die auswärtigen Mitglieder die Einladung per Email. Zwischen dem Tag der
          Einladung und dem Termin der Versammlung muss eine Frist von mindestens 3 Wochen liegen.
          Mit der Einberufung einer Mitgliederversammlung ist die Tagesordnung mitzuteilen. Diese muss folgende Punkte enthalten:
        </p>
        <ol>
          <li>Entgegennahme der Berichte.</li>
          <li>Kassenbericht und Bericht der Kassenprüfer.</li>
          <li>Entlastung der Vorstände.</li>
          <li>Wahlen, soweit diese erforderlich sind.</li>
          <li>Beschlussfassung über vorliegende Anträge.</li>
        </ol>
        <p>
          Die Mitgliederversammlung wird vom 1.Vorsitzenden, bei dessen Verhinderung, vom stellvertretenden Vorsitzenden geleitet. Bei Verhinderung
          beider wählt die Mitgliederversammlung einen Versammlungsleiter.
        </p>
        <p>
          Eine außerordentliche Mitgliederversammlung ist innerhalb einer Frist von 2 Wochen mit entsprechender Tagesordnung einzuberufen, wenn es der
          geschäftsführende Vorstand beschließt oder ein Viertel der Mitglieder beim Vorsitzenden beantragt.
        </p>
        <p>
          Die Mitgliederversammlung ist ohne Rücksicht auf die Zahl der erschienenen Mitglieder beschlussfähig.
          Stimmberechtigt sind alle Mitglieder vom vollendeten 16. Lebensjahr an. Als Mitglieder des geschäftsführenden Vorstandes sind alle
          Mitglieder vom vollendeten 18. Lebensjahr an wählbar.
        </p>
        <p>
          Die Entscheidungen der Mitgliederversammlung werden in einfacher Mehrheit der abgegebenen gültigen Stimmen beschlossen. Bei
          Stimmengleichheit gilt der Antrag als abgelehnt. Satzungsänderungen können nur mit einer Mehrheit von zwei Dritteln der abgegebenen gültigen
          Stimmen beschlossen werden.
        </p>
        <p>
          Der Verkauf und Veräußerungen von vereinseigenen Immobilien und Grundstücken können nur von einer außerordentlichen Mitgliederversammlung
          mit einer Mehrheit von drei Viertel der abgegebenen Stimmen beschlossen werden. Stimmenthaltungen bleiben für die Entscheidung
          unberücksichtigt.
        </p>
        <p>
          Über Anträge, die nicht in der Tagesordnung verzeichnet sind, kann in der Mitgliederversammlung nur abgestimmt werden, wenn diese Anträge
          mindestens zwei Wochen vor der Versammlung schriftlich beim geschäftsführenden Vorstand eingegangen sind.
          Dringlichkeitsanträge dürfen nur behandelt werden, wenn die anwesenden Mitglieder mit einer Zwei-Drittelmehrheit beschließen, dass sie als
          Tagesordnungspunkte aufgenommen werden. Ein Dringlichkeitsantrag auf Satzungsänderung ist unzulässig.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 9 Vorstand</h3>
        <p>
          Der geschäftsführende Vorstand besteht aus
        </p>
        <ul>
          <li>dem Vorsitzenden</li>
          <li>dem stellvertretenden Vorsitzenden</li>
          <li>dem Geschäftsführer Finanzen</li>
          <li>dem Geschäftsführer Sport</li>
          <li>dem Geschäftsführer Verwaltung</li>
        </ul>
        <p>
          Der geschäftsführende Vorstand führt die laufenden Geschäfte des Vereins. Darüber hinaus ist er für Aufgaben zuständig, die aufgrund ihrer
          Dringlichkeit einer schnellen Erledigung bedürfen. Er hat insbesondere folgende Aufgaben:
        </p>
        <ul>
          <li>Vorbereitung und Einberufung der Mitgliederversammlung</li>
          <li>Aufstellung der Tagesordnung</li>
          <li>Ausführung von Beschlüssen der Mitgliederversammlung</li>
          <li>Beschlussfassung über die Aufnahme von Mitgliedern</li>
          <li>Ausschluss und Straf- und Ordnungsmaßnahmen von Mitgliedern</li>
          <li>Durchführung der Beschlüsse der Mitgliederversammlung</li>
          <li>Entscheidung über die Berufung gegen Ausschlüsse und Maßregelungen sowie die Ablehnung von Aufnahmeanträgen.</li>
          <li>Entscheidung über den Erlass und die Befreiung von Mitgliedsbeiträgen.</li>
          <li>Einmal im Monat soll eine Sitzung des geschäftsführenden Vorstands stattfinden.</li>
        </ul>
        <p>
          Der Vorsitzende, der stellvertretende Vorsitzende, sowie die Geschäftsführer haben das Recht an allen Sitzungen der Abteilungen beratend
          teilzunehmen.
          Die Aufgaben der Mitglieder des geschäftsführenden Vorstandes sowie die Abgrenzung der übrigen Vorstandsressorts regelt die
          Geschäftsordnung. Der geschäftsführende Vorstand wird durch die Mitgliederversammlung auf zwei Jahre gewählt.
          Die Amtszeit des geschäftsführenden Vorstandes kann aber auch kürzer oder länger bemessen sein. Seine Mitglieder bleiben bis zur Wahl eines
          Nachfolgers im Amt. Bei vorzeitigem Ausscheiden eines Vorstandmitglieds ist der geschäftsführende Vorstand berechtigt, ein neues Mitglied
          kommissarisch bis zu nächsten Wahl zu berufen.
          Der Vorsitzende beruft und leitet die Sitzungen des geschäftsführenden Vorstandes. Er ist verpflichtet den geschäftsführenden Vorstand
          einzuberufen, wenn es das Vereinsinteresse erfordert oder aber wenn dies von der Mehrheit der Vorstandsmitglieder verlangt wird.
        </p>
        <p>
          Der geschäftsführende Vorstand ist beschlussfähig, wenn mindestens die Hälfte seiner Mitglieder anwesend ist. Bei Beschlussfassung
          entscheidet die einfache Mehrheit der abgegebenen Stimmen. Bei Stimmengleichheit entscheidet die Stimme des Vorsitzenden.
        </p>
        <p>
          Der geschäftsführende Vorstand kann Beauftragte in einen erweiterten Vorstand berufen, denen bestimmte Aufgaben obliegen, die vom
          geschäftsführenden Vorstand festgelegt werden.
        </p>
        <p>
          Der Gesamtvorstand besteht aus:
        </p>
        <ul>
          <li>dem geschäftsführenden Vorstand</li>
          <li>den Abteilungsleitern</li>
          <li>dem/der Ehrenvorsitzenden in beratender Funktion</li>
        </ul>
        <p>
          Der Gesamtvorstand tritt mindestens alle drei Monate zusammen. Beim vorzeitigen Ausscheiden eines Gesamtvorstandsmitglieds ist der
          Gesamtvorstand berechtigt, ein anderes Vereinsmitglied kommissarisch bis zur nächsten Wahl zu berufen.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 10 Gesetzliche Vertretung</h3>
        <p>
          Vorstand im Sinne des § 26 BGB sind der Vorsitzende und der stellvertretende Vorsitzende. Sie vertreten den Verein gerichtlich und
          außergerichtlich. Jeder von ihnen ist allein vertretungsberechtigt. Im Innenverhältnis des Vereins darf der stellvertretende Vorsitzende die
          Vertretungsmacht nur bei Verhinderung des 1. Vorsitzenden ausüben.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 11 Ältestenrat</h3>
        <p>
          Der Ältestenrat besteht aus drei Mitgliedern, die keinem anderen Vereinsorgan angehören. Sie werden alle zwei Jahre von der
          Mitgliederversammlung gewählt.
          Der geschäftsführende Vorstand kann den Ältestenrat im Bedarfsfall bei vereinsinternen Streitigkeiten hinzuziehen. Darüber hinaus bilden die
          Mitglieder des Ältestenrats zusammen mit dem geschäftsführenden Vorstand den Ehrungsausschuss.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 12 Jugend des Vereins</h3>
        <p>
          Durch Beschluss der Mitgliederversammlung kann der Jugend das Recht zur Selbstverwaltung im Rahmen der Satzung und der Ordnungen des Vereins
          eingeräumt werden. In diesem Fall gibt sich die Jugend eine eigene Jugendordnung, die der Genehmigung des geschäftsführenden Vorstands
          bedarf. Die Jugend entscheidet über die Verwendung der ihr zufließenden Mittel.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 13 Abteilungen</h3>
        <p>
          Für die im Verein betriebenen Sportarten können durch Beschluss des geschäftsführenden Vorstandes Abteilungen gebildet werden, denen ein
          Abteilungsleiter vorsteht.
          Der Abteilungsleiter wird durch die Abteilungsversammlung gewählt oder durch den geschäftsführenden Vorstand bestimmt. Im Bedarfsfall kann
          der Abteilungsleiter weitere Mitglieder zur Leitung der Abteilung hinzuziehen. Die Verwendung der
          Abteilungsbeiträge/Abteilungssonderbeiträge obliegt der Abteilung, die Kontrolle hierüber dem geschäftsführenden Vorstand.
          Für die Einberufung und Durchführung von Abteilungsversammlungen gelten die Vorschriften über die Mitgliederversammlung entsprechend.
          Beschlüsse der Abteilungen, die gegen die Satzung, Geschäftsordnung oder Beschlüssen der Mitgliederversammlung verstoßen, sind unwirksam.
        </p>
        <p>
          Die Abteilungsleitung ist gegenüber den Organen des Vereins verantwortlich und auf Verlangen jederzeit zur Berichterstattung verpflichtet.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§14 Ausschüsse</h3>
        <p>
          Der geschäftsführende Vorstand kann für bestimmte Vereinsaufgaben Ausschüsse bilden, deren Mitglieder vom geschäftsführenden Vorstand
          berufen werden. Die Mitglieder des Ausschusses wählen einen Vorsitzenden. Der Ausschussvorsitzende unterrichtet den geschäftsführenden
          Vorstand über die Arbeit und Vorschläge des Ausschusses.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 15 Protokollierung der Beschlüsse</h3>
        <p>
          Die Beschlüsse der Mitgliederversammlung, des geschäftsführenden Vorstandes und des Gesamtvorstandes sowie der Abteilungsversammlungen sind
          zu protokollieren. Das Protokoll ist vom Versammlungsleiter und dem Protokollführer zu unterzeichnen.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 16 Kassenprüfung</h3>
        <p>
          Die Mitgliederversammlung wählt für die Dauer von zwei Jahren zwei Kassenprüfer und einen Ersatzkassenprüfer, die nicht dem Vorstand
          angehören dürfen und bis zur Neuwahl im Amt bleiben. Wiederwahl ist zulässig. Die Kassenprüfer prüfen die Rechnungs- und Kassenführung des
          Vereins mindestens einmal oder vor jeder ordentlichen Mitgliederversammlung und erstatten in dieser ihren Kassenbericht.
          Der Auftrag der Kassenprüfer erstreckt sich neben der Prüfung der reinen Kassenführung auch darauf, ob die Mittel wirtschaftlich verwendet
          worden sind, ob die Ausgaben sachlich richtig sind und ob sie mit dem Haushaltsplan übereinstimmen.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 17 Datenschutz im Verein</h3>
        <p>
          Zur Erfüllung der Zwecke und Aufgaben des Vereins werden unter Beachtung der Vorgaben der EU-Datenschutz-Grundverordnung (DS-GVO) und des
          Bundesdatenschutzgesetzes (BDSG) personenbezogene Daten über persönliche und sachliche Verhältnisse der Mitglieder im Verein verarbeitet.
        </p>
        <p>
          Soweit die in den jeweiligen Vorschriften beschriebenen Voraussetzungen vorliegen, hat jedes Vereinsmitglied insbesondere die folgenden
          Rechte:
        </p>
        <ul>
          <li>das Recht auf Auskunft nach Artikel 15 DS-GVO,</li>
          <li>das Recht auf Berichtigung nach Artikel 16 DS-GVO,</li>
          <li>das Recht auf Löschung nach Artikel 17 DS-GVO,</li>
          <li>das Recht auf Einschränkung der Verarbeitung nach Artikel 18 DSGVO, das Recht auf Datenübertragbarkeit nach Artikel 20 DS-GVO und das
            Widerspruchsrecht nach Artikel 21 DS-GVO.</li>
        </ul>
        <p>
          Den Organen des Vereins, allen Mitarbeitern oder sonst für den Verein Tätigen ist es untersagt, personenbezogene Daten unbefugt zu anderen
          als dem jeweiligen Aufgabenerfüllung gehörenden Zweck zu verarbeiten, bekannt zu geben, Dritten zugänglich zu machen oder sonst zu nutzen.
          Diese Pflicht besteht auch über das Ausscheiden der oben genannten Personen aus dem Verein hinaus.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h3>§ 18 Auflösung des Vereins</h3>
        <p>
          Die Auflösung des Vereins kann nur in einer zu diesem Zweck einberufenen Mitgliederversammlung beschlossen werden.
        </p>
        <p>
          Die Einberufung einer solchen Versammlung darf nur erfolgen, wenn es der geschäftsführende Vorstand mit einer Mehrheit von drei Vierteln
          aller seiner Mitglieder beschlossen hat oder einem Drittel der Mitglieder des Vereins schriftlich gefordert wurde.
        </p>
        <p>
          Die Versammlung ist beschlussfähig, wenn mindestens die Hälfte der stimmberechtigten Mitglieder anwesend ist. Die Auflösung kann nur mit
          einer Mehrheit von drei Vierteln der anwesenden stimmberechtigten Mitglieder beschlossen werden.
        </p>
        <p>
          Sollte bei der ersten Versammlung weniger als die Hälfte der stimmberechtigten Mitglieder anwesend sein, ist eine zweite Versammlung
          einzuberufen, die dann mit einer Mehrheit von drei Vierteln der anwesenden stimmberechtigten Mitglieder beschlussfähig ist.
          Bei der Auflösung des Vereins oder des Wegfalls seines bisherigen steuerbegünstigten Zwecks fällt sein Vermögen an die Stadt Schweich mit
          der Zweckbestimmung, dass dieses Vermögen unmittelbar und ausschließlich der Förderung des Sports verwendet werden darf.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col sizeSm ="4" sizeMd="3" sizeLg="2">
        <ion-img src="/assets/Bernd.png"></ion-img>
        Bernd Münchgesang<br>
        1. Vorsitzender
      </ion-col>
      <ion-col sizeSm ="4" sizeMd="3" sizeLg="2">
        <ion-img src="/assets/Harald.png"></ion-img>
        Harald Emmrich<br>
        2. Vorsitzender
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>